---
  # config for combine_and_fit.py
  # can run combination of all reconstructed DWI data, latent data for decoder recon and a fitting for the DWI data

  run_combine_DWI: True                  # run combination for DWI
  run_combine_latent: True               # run combination for latent images (only Decoder recon)
  run_fit: False                          # run fit for DWI data (only possible if data has been combined first)

  reco_data_path: '/home/vault/mfqb/mfqb102h/meas_MID00203_FID00641_ep2d_diff_ms_2_seg_3x3_126/LASER/DAE_BAS/' # path to directory where reconstructed data is stored
  name: 'DecRecon'                       # shared name of all reconstructed slices
  name_to_save: BAS_shell_split_reco_TV_12_combined  # name under which combined data should be saved
  N_diff: 126                            # number of diffusion encoding directions
  N_coils: 32                            # number of coils
  N_x: 220                               # Number of X pixels
  N_y: 223                               # Number of Y pixels
  MB: 3                                  # Multiband factor
  N_slices: 42                          # number of acquired slices
  N_segments: 2                          # number of segments
  Accel_PE: 3

  
  N_latent: 11                           # number of latent variables of reconstruction (only necessary if run_fit is true)


  dvs_file_path: /home/hpc/mfqb/mfqb102h/LASER/data/raw/1.0mm_126-dir_R3x3_dvs.h5 # path to dvs file which stores b-values and gradient vectors of acquisition (only necessary if run_fit is true)